<IfModule mod_rewrite.c>
	RewriteEngine On

	# Send request via index.php if not a real file or directory
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^ simple.php [QSA,L]
</IfModule>
